extends baseEmail

block content
    p Hi #{name},
    p We have received your request to reset your password. Please click the link below to reset your password.
    p If you do not reset your password within two hours, you will need to submit a new request.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset your password
    p Contact
    span(style='color:purple;') team@whiteboard.id for an additional assistance.
    p Cheers,
    p WHITEBOARD Team
